﻿@model FizzBuzzNewSolution.Models.FizzBuzzModel
@{
    ViewBag.Title = "Index";
}

<h2>User Input For Fizz Buzz</h2>

@using (Html.BeginForm("Output", "FizzBuzz",FormMethod.Get))
{
    <label for="userinput">Please Enter A Value</label>

    <div>
        @Html.ValidationMessageFor(m => m.userinput, "", new { @class = "text-danger" })
        <input type="text" id="userinput" class="form-control" name="userinput" value="@Model.userinput" />
    </div>
    <button type="submit" name="submit" class="btn btn-info" id="submit" value="submit">submit</button>

    if (Model.results != null)
    {
        @Html.Partial("Output", Model);
    }

}

