﻿
@model FizzBuzzNewSolution.Models.FizzBuzzModel


@using PagedList
@using PagedList.Mvc


@{
    ViewBag.Title = "Output";
}

<h2>Output</h2>


<link href="~/Styles/StyleSheetOutput.css" rel="stylesheet" type="text/css" />

    
    @foreach (var element in Model.results)
    {
        <div>
            <ul>
                <li class="@element">@element</li>
            </ul>
        </div>
    }
    
@Html.PagedListPager((IPagedList)Model.results, page => Url.Action("Output", "FizzBuzz", new { page = page, userinput = Model.userinput }), PagedListRenderOptions.MinimalWithPageCountText)
